<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-center align-items-end modal-contact-icon">
                {{ range .channel }}
                    <a class="mx-2 bg-primary me-1 p-3 rounded" href="{{ .url }}" target="_blank">
                    {{ partial (printf "%s%s%s" "icons/" .icon ".html") }}
                    </a>
                {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>